/c-template.c
/cpp-template.cpp
/EEE-163
/EEE-164
/input.txt
/output.txt
/python-template.py
/rust-template.rs
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
